@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

:root {
  --primary-col: #465775;
  --secondary-col: #EF6F6C;
  --tertiary-col: #56E39F;
  --button-col: #f7a4b8;
  --cultured-white: #d3d3d3;

  --selected-col: #465775;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(177, 177, 177);
  font-family: Oswald, sans-serif;
  overflow: hidden;
}

h1, h2, p {
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #ffffff;

  margin: 0;
  padding: 0;
}

p {
  white-space: pre-wrap;
}

.side-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;

  /* ABOVE ALL DOM ELEMENTS*/
  z-index: 11;

  padding-left: 15px;
  height: 100%;
  width: 85px;
  position: fixed;
  background-color: var(--primary-col);

  -webkit-box-shadow: 8px 5px 12px -9px #000000; 
  box-shadow: 8px 5px 12px -9px #000000;
}

.bar-footer {
  position: absolute;
  background-color: var(--secondary-col);

  padding-top: 5px;
  width: 100%;
  height: 80px;
  bottom: 0;
  left: 0;
}

.footer-text {
  white-space: normal;
  margin: 0;
  padding: 5px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.4);

  top: 0;
  left: 85px;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: auto;
  animation: modalopen 0.4s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.show-modal {
  display: flex;
}

.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background-color: var(--primary-col);

  z-index: 1;
  height: 30%;
  width: 25%;
  top: 150px;
  left: -25%;

  margin: auto;
  padding: 5px;
  border-radius: 0 10px 10px 0;
  animation: slide-in-left 0.6s forwards;
  animation-delay: 0.2s;
}

@keyframes slide-in-left {
  100% { 
    left: 85px;
    z-index: 11;
  }
}

.modal-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 100vh;
  margin: 5px;
  margin-left: 10px;
}

.modal-content-title {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5vh;
  background-color: var(--secondary-col);
  border-radius: 3px;
  margin: 5px;
}

.modal-content-title h2, p {
  margin: 5px;
}


/* Font Awesome Icons */
.fas,
.far {
  font-size: 25px;
  position: relative;
  top: 5px;
  background-color: var(--button-col);
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.fas:hover,
.far:hover {
  filter: brightness(90%);
}

.fa-paint-roller:hover,
.fa-trash-alt:hover {
  color: var(--secondary-col);
}


/* Tools */
.active-tool {
  position: absolute;
  top: 20px;
  left: 10px;
}

.active-tool > span {
  background-color: var(--secondary-col);
  border-radius: 5px;
  padding: 2.5px 10px;
  color: white;
  font-size: 20px;
  user-select: none;
}

.tool {
  position: relative;
  top: 3px;
}

.tool:not(:first-child) {
  margin-top: 8px;
}

.selected-tool {
  background-color: var(--selected-col);
}

.brush {
  background-color: var(--primary-col);
  height: 300px;
  width: 90%;
}

.brush > * {
  margin-top: 10px;
}

.size {
  min-width: 35px;
  height: 40px;

  position: relative;
  top: 4px;
  left: -5px;
  background-color: var(--secondary-col);
  border-radius: 5px;
  padding: 2.5px 8px;
  color: white;
  font-size: 20px;
  user-select: none;
}

.tools-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  padding: 0;
}

.chevron-menu {
  background-color: transparent;
  opacity: 0.8;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.dropdown-show {
  display: block;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ======================================================================================= */
/* Shapes */
/* .shapes-container {
  list-style-type: none;
  margin: 0;

  position: absolute;
  top: 40px;
  right: 0.1px;

  opacity: 0;

  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 100% top;
}

.shapes-container li {
  display: flex;
  justify-content: flex-start;
}

.icon-shapes-container:hover + .shapes-container, .shapes-container:hover {
  opacity: 1;
  transform: scale(1);
} */

.shape-btn-wrap {
  margin: 3px;
}

.shape-btn-wrap i {
  background-color: var(--tertiary-col);
}
/* ======================================================================================= */

/* Toast Notifications */
#toasts {
  z-index: 11;
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: var(--primary-col);
  color: #7158e2;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.3rem;
  -webkit-box-shadow: 5px 5px 15px -6px #000000; 
  box-shadow: 5px 5px 15px -6px #000000;
}

.toast.info {
  color: #7158e2;
}

.toast.success {
  color:lightgreen;
}

.toast.error {
  color: crimson;
}


/* Custom Slider */
.slider {
  -webkit-appearance: none;
  border-radius: 3px;
  position: relative;
  width: 100px;
  height: 10px;
  background: var(--cultured-white);
  outline: none;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: var(--secondary-col);
}

.slider::-moz-range-thumb {
  border: none;
  width: 10px;
  height: 10px;
  background: var(--secondary-col);
}

/* JS Color */
.jscolor {
  border-style: inset;
  border-radius: 5px;
  height: 45px;
  width: 70%;

  text-align: center;
  cursor: pointer;
  outline: none;
}


/* Canvas */
canvas#canvas {
  background-color: rgb(177, 177, 177);
  position: absolute;
  left: 85px;
  cursor: crosshair;
  z-index: 9;
}

/* Mobile Message */
.mobile-message {
  display: none;
}

/* Media Query: Mobile Devices */
@media screen and (max-width: 800px) {
  .mobile-message {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
  }
}
